body {
    overflow: hidden;
    margin: 0px;
}

.outputWindow {
    margin-top: 20px;
    background-color: #f2f3cb;
    margin-bottom: 20px;
    width: 55%;
    color: #365279;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;

}
#inputId
{
margin-left: 170px;
font-size: 30px;
}
.main{
    /* margin-left: 100px; */
    width:90%;
    display: flex;
    justify-content: space-between;   
}
.mainWebpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.topHeader {
    height: 3%;
    background-color: #365277;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.headerContent {
    display: flex;
    flex-direction: row
}

#headerimageContent {
    color: antiquewhite;
    margin-left: 7px;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

#heading {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
}

.dateTime {
    font-size: 17px;
    color: antiquewhite;
    padding-right: 10px;
}

.mainBody {
    /* height: 80%; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.outputContent {
    font-size: 15px;
    color: #365279;

}

#firstInput{
    margin-bottom: 10px;
    height: 20px;
    margin-left: 20px;
    font-size: 15px;
    width: 10px;
    color: #365279;
}
input{
    width: 150px;
    height: 30px;
}
#exerciseHeading {
    margin-bottom: 30px;
    height: 30px;
    font-size: 22px;
    margin-left: 20px;
    width: 180px;
    color: #365279;

}

#buttonId{
    color: white;
    height: 25px;
    width:150px;
    margin-left: 250px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #365279;
    font-family: 'Rubik', sans-serif;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8%;
    background-color: #e4f6f6;
    color: #365279;
    padding-left: 40px;
    padding-right: 5px;
    align-items: center;
}

.logoContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}
.modal {
    background-color: #00000080;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    place-items: center;
    display: none;
    z-index: 1;
  }
  
  .modalBox {
    width: 30rem;
    background-color: white;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 5px;
    z-index: 2;
  }
  
  .active {
    display: grid;
  }
  
  #successCode {
    color: #008000;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    height: 3.5rem;
    max-width: 12rem;
  }
  
  #close,
  #okay {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
  }
  
  #close {
    color: white;
    background-color: red;
    border-radius: 8px;
    border: none;
  }
  
  #okay {
    color: black;
  }
  
  #successBtn,
  #errorBtn {
    display: none;
    height: 35px;
    position: absolute;
    top: 5rem;
  }
  
  #errorBtn {
    right: 10rem;
  }
  #successBtn {
    right: 5rem;
  }
  
  .errorImage {
    max-width: 18rem;
    max-height: 12rem;
    aspect-ratio: 16/12;
  }
  
  .modalBox h2 {
    margin-left: 0;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  
  #errorBox {
    background-image: url(../Images/error.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #errorBox h1 {
    color: white;
  }
  
  #copy {
    border-radius: 8px;
    padding: 6px 10px;
    border: none;
    background-color: #5784f5;
    color: white;
    cursor: pointer;
    margin-right: -4rem;
  }
  
  .modalBox div {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
  }
  
  